@import "tailwindcss";
@plugin "daisyui";

@layer components {
    .my-grid {
        grid-template-columns: repeat(auto-fill, minmax(min(100%,25rem), 1fr));
        align-content: start;
        gap: 3rem;
    }
}